<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages clientIDMode="Predictable"></pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDALService">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://83.255.84.243:85/Service/DALService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDALService" contract="IDALService"
        name="BasicHttpBinding_IDALService" />
    </client>
  </system.serviceModel>
</configuration>