<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="ABBConnectEntities" connectionString="metadata=res://*/ABBConnectModel.csdl|res://*/ABBConnectModel.ssdl|res://*/ABBConnectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www3.idt.mdh.se;initial catalog=ABBConnect;user id=rgn09003;password=ABBconnect1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>